@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Smokum&display=swap');

body {
  background: #FAF9F6
  font-family: 'Helvetica';
  font-kerning: -2px;
  margin: 0;
  cursor:url(./images/Ellipse.svg), auto;
}

.center {
  background: -webkit-canvas;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

div.card#details {
  /* padding: 40px; */
  border-radius: 5px;
  /* margin: 20px 0px; */
  text-align: center;
}

div.card#intro {
  background-color: none;
  padding: 40px;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

div.card#footer {
  background-color: none;
  padding: 40px;
  text-align: center;
  background-color: orangered;
  margin-top: 50px;
}

h1 {
  color: #181818;
  font-family: 'Smokum', cursive;
  font-size: 180px;
  text-align: center;
  padding: none;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  color: #181818;
  font-family: 'helvetica neue';
  font-size: 30px;
  text-align: center;
  padding: none;
  margin: none;
  font-kerning: -2px;
}

h3 {
  font-weight: light;
  color: #181818;
  font-family: 'helvetica';
  font-size: 20px;
  text-align: center;
  padding: none;
  margin-top: 0;
  font-kerning: -2px;
}

p {
  color: #181818;
  font-family: 'helvetica';
  font-size: 20px;
  text-align: center;
  padding: none;
  margin: 20px;
  letter-spacing: -0.8px;
}

.btn-portfolio {
  display: block;
  color: #181818;
  font-family: 'helvetica';
  font-size: 20px;
  text-align: center;
  padding:20px;
  text-decoration: none;
  background-color: orangered;
  border-radius: 10px;
}

.btn-portfolio:hover {
  display: block;
  color: white;
  font-family: 'helvetica';
  font-size: 20px;
  text-align: center;
  padding:20px;
  text-decoration: none;
  background-color: black;
  border-radius: 10px;
}

#profile-image {
  height: 300px;
  weight: 300px;
  border-radius: 50%;
  justify-content: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 20px;
  font-size: 30px;
  padding-left: 0px;
  color: rgb(230, 230, 230);
}

a{
  color: rgb(230, 230, 230);
  text-decoration: none;
}
